<div class="album py-5 bg-light">
<div class="container">
  <div class="row">
    {% for book in object.book.all %}
    <div class="col-md-3">
      <div class="card mb-3 box-shadow">
        <div style="height: 155px;"><a href="/book/{{book.pk}}/">
          <img src="{{ book.photo.url }}" class="rounded mx-auto d-block" style="height: 155px; width: auto; align: center;" alt="Photo_cover"></a></div>
        <div class="card-body">
          <p class="card-text" style="text-align: center; height: 30px; vertical-align: middle">{{book.name}}</p>
          <p class="card-text" style="text-align: center; height: 30px;">
            {% for author in book.author.all %}
            {% if user.is_authenticated %}<a href="/author/{{author.pk}}/">{% endif %}
              {{ author.name }}
              {{ author.surname }}
            </a>
            {% endfor %}
          </p>
          <p class="card-text" style="text-align: center; height: 30px; vertical-align: middle">{{book.price}} BYN</p>
          <div align="left">
              {% if user.is_authenticated %}<a href="/book/{{book.pk}}/"><i class="fas fa-info fa-1x" style="width: 75px;"></i></a>{% endif %}
              {% if book.available_bool == True and book.available_PCs > 0 %}<a href="{% url 'card:add' book.pk %}" type=""><i class="fas fa-cart-arrow-down fa-2x" style="width: 75px;"></i></a>
              {% else %}<i class="fas fa-ban fa-2x" style="width: 75px; color: gray;"></i>{% endif %}
              {% if perms.books.change_book %}<a href="/book/update/{{book.pk}}/"><i class="far fa-edit fa-1x"></i></a>{% endif %}
              {% if perms.books.delete_book %}<a href="/book/delete/{{book.pk}}/"><i class="far fa-trash-alt fa-1x"></i></a>{% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</div>