{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
    {{title}}
{% endblock title %}


{% block body %}
<div class="starter-template"><h1 align="center">{{action}}</h1>
    <div style="height: 50px;"></div>
<h1 align="center">Вы действительно хотите удалить {{object}}?</h1>
<form action="" method="POST">
    {% csrf_token %}
    <div style="height: 50px;"></div>
    <p align="center">
    <button type="submit" value="Confirm" class="btn btn-danger btn-lg">ДА</button>
    </p>
</form>
{% endblock body %}