{% extends 'base.html' %}
{% load custom_tags %}

{% block title %}
    {{title}}
{% endblock title %}


{% block body %}
<div class="starter-template"><h1>{{action}}</h1></div>

    {% block content %}{% endblock content %}

<div class="padding: 40px 15px;">
    {% perm_add as perm_add %}{% if perm_add %}<h4>Запись создана: {{object.created}}</h4>{% endif %}
    {% perm_change as perm_change %}{% if perm_change %}<h4>Запись обновлена: {{object.updated}}</h4>{% endif %}
</div>

<div style="padding: 40px 15px;">
    <p align="middle">
        {% if perm_change %}<a href="{{ url }}/update/{{object.pk}}/" class="btn btn-secondary btn-lg active"
           role="button" type="submit" aria-pressed="true">Внести изменения</a>{% endif %}
        {% if user.is_authenticated %}<a href="{{ url }}/list/" class="btn btn-primary btn-lg active"
           role="button" type="submit" aria-pressed="true">Вернуться к списку</a>{% endif %}
    </p>
</div>
{% endblock body%}