{% extends 'base.html' %}
{% load custom_tags %}


{% block title %}
    {{title}}
{% endblock title %}


{% block body %}
<div class="starter-template"><h1>{{action}}</h1></div>

<table class="table">
  <thead class="thead-dark">
    <tr align="middle">
    {% block th %}       {% endblock th %}
        {% if user.is_authenticated %}<th scope="col">Дополнительная информация</th>{% endif %}
        {% perm_change as perm_change %}{% if perm_change %}<th scope="col">Редактирование</th>{% endif %}
        {% perm_delete as perm_delete %}{% if perm_delete %}<th scope="col">Удаление</th>{% endif %}
    </tr>
    </thead>

    {% for obj in object_list %}
    <tr align="middle">
    {% block td %}       {% endblock td %}

    {% if user.is_authenticated %}<td><a href="{{ url }}/{{obj.pk}}/"><i class="fas fa-info"></i></a></td>{% endif %}
    {% if perm_change %}<td><a href="{{ url }}/update/{{obj.pk}}/"><i class="far fa-edit"></i></a></td>{% endif %}
    {% if perm_delete %}<td><a href="{{ url }}/delete/{{obj.pk}}/"><i class="far fa-trash-alt"></i></a></td>{% endif %}
    {% endfor %}
    </tr>
</table>

    <p align="center">
        {% perm_add as perm_add %}{% if perm_add %}<a href="{{ url }}/create/" class="btn btn-primary btn-lg active"
            role="button" type="submit" aria-pressed="true">Добавить объект</a>{% endif %}
    </p>
{% endblock body %}