{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

  <!-- main link --><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
  <!-- own style --><link href="{% static 'starter-template.css' %}" rel="stylesheet">

    <title>{% block title %}{% endblock title %}</title>
    <!-- Custom styles for this template -->
    <link href="{% static 'starter-template.css' %}" rel="stylesheet">
    {% block style %}{% endblock style %}
  </head>

  <body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/book/list/">
    <img src="{% static 'logo.jpg' %}" width="60" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    {% include 'menu.html' %}
  <div style="width: 25%;">
      <form action="{% url 'search_results' %}" method="get" class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
  </div>
      {% if user.is_staff %}
    <div class="nav-item dropdown">
    <a class="nav-link dropdown-toggle"
       href="http://example.com"
       id="dropdown01"
       data-toggle="dropdown"
       aria-haspopup="true"
       aria-expanded="false">
      Опции для персонала
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdown01">
      <a class="dropdown-item" href="/tags/">Управление тэгами</a>
    </div>
  </div>
    <div style="width: 50px;"></div>{% endif %}
      {% if user.is_authenticated %}
      <a href="/person/{{user}}/" class="btn btn-outline-success my-2 my-sm-0" role="button">{{user}}</a>
    <div style="width: 25px;"></div>{% endif %}
      <a href="{% url 'card:list' %}" class="btn btn-outline-success my-2 my-sm-0" role="button">Корзина</a>
    <div style="width: 25px;"></div>
      {% if user.is_authenticated %}
      <a href="/accounts/logout/" class="btn btn-outline-success my-2 my-sm-0" role="button">LOG OUT</a>
      {% else %}
      <a href="/accounts/login/" class="btn btn-outline-success my-2 my-sm-0" role="button">LOG IN</a>
      {% endif %}
  </div>
</nav>

<main role="main" class="container">
  {% block body %}
  {% endblock body %}
</main>

</body>
</html>
