<ul class="navbar-nav mr-auto">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle {% if current_menu == 'Авторы' %}active{% endif %}"
       href="http://example.com"
       id="dropdown01"
       data-toggle="dropdown"
       aria-haspopup="true"
       aria-expanded="false">Авторы
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdown01">
      {% if user.is_authenticated %}<a class="dropdown-item" href="/author/list/">Просмотреть список</a>{% endif %}
      {% if perms.refers.add_author %}<a class="dropdown-item" href="/author/create/">Создать новый элемент</a>{% endif %}
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle {% if current_menu == 'Жанры' %}active{% endif %}"
       href="http://example.com"
       id="dropdown01"
       data-toggle="dropdown"
       aria-haspopup="true"
       aria-expanded="false">
      Жанры
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdown01">
      {% if user.is_authenticated %}<a class="dropdown-item" href="/genre/list/">Просмотреть список</a>{% endif %}
      {% if perms.refers.add_genre %}<a class="dropdown-item" href="/genre/create/">Создать новый элемент</a>{% endif %}
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle {% if current_menu == 'Серии' %}active{% endif %}"
       href="http://example.com"
       id="dropdown01"
       data-toggle="dropdown"
       aria-haspopup="true"
       aria-expanded="false">
      Серии
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdown01">
      {% if user.is_authenticated %}<a class="dropdown-item" href="/series/list/">Просмотреть список</a>{% endif %}
      {% if perms.refers.add_series %}<a class="dropdown-item" href="/series/create/">Создать новый элемент</a>{% endif %}
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle {% if current_menu == 'Издательства' %}active{% endif %}"
       href="http://example.com"
       id="dropdown01"
       data-toggle="dropdown"
       aria-haspopup="true"
       aria-expanded="false">
      Издательства
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdown01">
      {% if user.is_authenticated %}<a class="dropdown-item" href="/publisher/list/">Просмотреть список</a>{% endif %}
      {% if perms.refers.add_publisher %}<a class="dropdown-item" href="/publisher/create/">Создать новый элемент</a>{% endif %}
    </div>
  </li>
</ul>
