{% extends 'base_registration.html' %}
{% load crispy_forms_tags %}


{% block title %}
    LOG IN
{% endblock title %}

{% block body %}


{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}


<form method="post" action="{% url 'login' %}">
{% csrf_token %}
    <table>
        {{form|crispy}}
    </table>
<div style="height: 75px;">
    <button type="submit" class="btn btn-success btn-lg active" value="login">Войти</button>
    <a href="/accounts/create/" role="button" type="submit" class="btn btn-success btn-lg active">Зарегистрироваться</a>
</div>
<div style="height: 75px;">
        <a href="/book/list/" class="btn btn-primary btn-lg active" role="button" type="submit" aria-pressed="true">
        Перейти к списку книг как незарегистрированный пользователь</a>
</div>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}