{% extends "base_registration.html" %}
{% load crispy_forms_tags %}

{% block title %}{% endblock %}

{% block body %}
<div  class="card">
<div  class="card-body">
<h4  class="card-title"> Change your password</h4>

<form  method="post">
{% csrf_token %}
{{ form|crispy }}

<button  type="submit"  class="btn btn-success">Change password </button>
</form>
</div>
</div>
{% endblock %}