{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
    {{title}}
{% endblock title %}


{% block body %}
<div class="starter-template"><h1>{{action}}</h1></div>
<div style="height: 50px;"></div>

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{form|crispy}}
    </table>
<div style="height: 50px;"></div>
<div style="height: 150px;">
    <button type="submit" class="btn btn-success btn-lg active">Сохранить</button>
    <a href="/book/list/" class="btn btn-primary btn-lg active" role="button" type="submit" aria-pressed="true">
        Перейти к списку книг как незарегистрированный пользователь</a>
</div>
</form>
{% endblock body %}