{% extends 'mainCRUD/detail.html' %}

{% block content %}
<table class="table">
    <tr>
        <th>Индекс</th>
        <td>{{object.pk}}</td>
        <td rowspan="19" style = "border: 0px; padding: 0px 0px 0px 100px;">
            {% if object.photo != "" %}
            <img src="{{ object.photo.url }}" height="600" widht="300">
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Название</th>
        <td>{{object.name}}</td>
    </tr>
    <tr>
        <th>Цена</th>
        <td>{{object.price}} BYN</td>
    </tr>
    <tr>
        <th>Автор(ы)</th>
        <td>
            {% for author in object.author.all %}
            <a href="/author/{{author.pk}}/">
                {{ author.name }}
                {{ author.surname }}<br>
            </a>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>Серия</th>
        <td>
            <a href="/series/{{object.series.pk}}/">
                {{ object.series.name }}
            </a>
        </td>
    </tr>
    <tr>
        <th>Жанр(ы)</th>
        <td>
            {% for genre in object.genre.all %}
            <a href="/genre/{{genre.pk}}/">
                {{ genre.name }}<br>
            </a>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>Год первоиздания</th>
        <td>{{object.year}}</td>
    </tr>
    <tr>
        <th>Кол-во страниц</th>
        <td>{{object.pages}}</td>
    </tr>
    <tr>
        <th>Тип обложки</th>
        <td>{{object.cover}}</td>
    </tr>
    <tr>
        <th>Формат издания</th>
        <td>{{object.form}}</td>
    </tr>
    <tr>
        <th>ISBN</th>
        <td>{{object.ISBN}}</td>
    </tr>
    <tr>
        <th>Вес</th>
        <td>{{object.weight}} г</td>
    </tr>
    <tr>
        <th>Возрастное ограничение</th>
        <td>{{object.age_limit}}+</td>
    </tr>
    <tr>
        <th>Издатель</th>
        <td>
            <a href="/publisher/{{object.publisher.pk}}/">
                {{object.publisher.name}}
            </a>
        </td>
    </tr>
    <tr>
        <th>Доступный остаток</th>
        <td>{{object.available_PCs}}, шт.</td>
    </tr>
    <tr>
        <th>Наличие</th>
        <td>{{object.available_bool}}</td>
    </tr>
    <tr>
        <th>Рейтинг</th>
        <td>{{object.rank}}/10</td>
    </tr>
</table>
{% endblock content %}