{% extends 'base.html' %}


{% block title %}
    {{title}}
{% endblock title %}


{% block body %}
<div class="starter-template"><h1 align="center">{{action}}</h1></div>
<div>
    <p align="middle">
        {% if perms.books.add_book %}<a href="/book/create/" class="btn btn-primary btn-lg active"
           role="button" type="submit" aria-pressed="true">Добавить книгу</a>{% endif %}
    </p>
</div>

<div class="album py-5 bg-light">
<div class="container">
  <div class="row">
    {% for obj in object_list %}
    <div class="col-md-3">
      <div class="card mb-3 box-shadow">
        <div style="height: 155px;"><a href="/book/{{obj.pk}}/">
            <img src="{{ obj.photo.url }}" class="rounded mx-auto d-block" style="height: 155px; width: auto; align: center;" alt="Photo_cover"></a></div>
        <div class="card-body">
            <p class="card-text" style="text-align: center; height: 100px; vertical-align: middle"><a href="/book/{{obj.pk}}/">{{obj.name}}</a></br>
            {% for author in obj.author.all %}
            {% if user.is_authenticated %}<a href="/author/{{author.pk}}/">{% endif %}
              {{ author.name }}
              {{ author.surname }}
            </a>{% endfor %}</br>
              {{obj.price}} BYN</p>
          <div align="left">
              <a href="/book/{{obj.pk}}/"><i class="fas fa-info fa-1x" style="width: 75px;"></i></a>
              {% if obj.available_bool == True and obj.available_PCs > 0 %}<a href="{% url 'card:add' obj.pk %}" type=""><i class="fas fa-cart-arrow-down fa-2x" style="width: 75px;"></i></a>
              {% else %}<i class="fas fa-ban fa-2x" style="width: 75px; color: gray;"></i>{% endif %}
              {% if perms.books.change_book %}<a href="/book/update/{{obj.pk}}/"><i class="far fa-edit fa-1x"></i></a>{% endif %}
              {% if perms.books.delete_book %}<a href="/book/delete/{{obj.pk}}/"><i class="far fa-trash-alt fa-1x"></i></a>{% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

</div>


<div>
    {% if perms.books.add_book %}<p align="middle">
        <a href="/book/create/" class="btn btn-primary btn-lg active"
           role="button" type="submit" aria-pressed="true">Добавить книгу</a>{% endif %}
    </p>
</div>

{% endblock body %}