{% extends 'mainCRUD/list.html' %}

{% block th %}
    <th scope="col">Индекс</th>
    <th scope="col">Наименование</th>
{% endblock th %}

{% block td %}
        <td scope="row">{{obj.pk}}</td>
        <td><a href="/publisher/{{obj.pk}}/">{{obj.name}}</a></td>

{% endblock td %}