{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Профиль {{user}}
{% endblock %}

{% block style %}


<style>

body{background: url(/static/blackbooks.jpg);
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;}

#main {
 background-color: #f2f2f2;
 padding: 20px;
-webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 -ms-border-radius: 4px;
 -o-border-radius: 4px;
 border-radius: 4px;
 border-bottom: 4px solid #ddd;}

</style>

{% endblock style %}


{% block body %}
<div style="height: 75px;"></div>
<div class="starter-template"></div>
<div class="container">
<div id="main">
<div>
 <div class="row">
 <div class="col-lg-4 col-md-4 col-xs-12">
 <div class="panel panel-default">
 <div class="panel-heading">
 <header class="panel-title">
 <div class="text-center">
 <h1>{{user}}</h1>
 </div>
 </header>
 </div>
 <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
 <div class="panel-body">
 <div class="text-center">
 {{form.photo|as_crispy_field}}
 <h5>Имя: <input type="text" class="form-control" name="first_name" value ="{{user.first_name}}"></h5>
 <h5>Фамилия: <input type="text" class="form-control" name="last_name" value ="{{user.last_name}}"></h5>
 <h5>E-mail: <input type="text" class="form-control" name="email" value ="{{user.email}}"></h5>
 <p>{{form.quote|as_crispy_field}}</p>
 <p class="sosmed-author">
 <a href="#"><i class="fab fa-facebook-square"></i></a>
 <a href="#"><i class="fab fa-twitter-square"></i></a>
 <a href="#"><i class="fab fa-vk"></i></a>
 <a href="#"><i class="fab fa-linkedin"></i></a>
 </p>
 </div>
 </div>
 </div>
 </div>

<div class="col-lg-8 col-md-8 col-xs-12">
 <div class="panel">
 <div class="panel-body">
 <h4>Ваш профиль</h4>
 <table class="table table-th-block">
 <tbody>
 <tr><td class="active">Зарегистрирован:</td><td>{{ user.date_joined }}</td></tr>
 <tr><td class="active">Последняя активность:</td><td>{{ user.last_login }}</td></tr>
 <tr><td class="active">Адрес:</td><td>{{ form.location|as_crispy_field }}</td></tr>
 <tr><td class="active">Пол:</td><td>{{ form.sex|as_crispy_field }}</td></tr>
 <tr><td class="active">Дата рождения:</td><td><input id="date" class="form-control" name="birth_date" value ="{{object.birth_date}}"></td></tr>
 <tr><td class="active">Телефон:</td><td>{{ form.phone|as_crispy_field }}</td></tr>
 <tr><td class="active">Любимые авторы:</td><td>{{ form.prefer_author|as_crispy_field }}</td>
 <tr><td class="active">Любимые жанры:</td><td>{{ form.prefer_genre|as_crispy_field }}</td>
 <tr><td class="active">Биография:</td><td>{{ form.biography|as_crispy_field }}</td></tr>
 </tr>
</tbody>
 </table>
 </div>
 </div>
 </div>
 </div>
 <div>
    <button type="submit" class="btn btn-success">Сохранить изменения</button>
</div></form>
</div><!-- /.main -->
</div><!-- /.container -->

<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
 <script type="text/javascript">
$(function(){
 $('#date').daterangepicker({
 singleDatePicker: true,
 locale: {
 format: 'DD.MM.YYYY'
 }
 });
});
</script>
{% endblock body %}