{% extends 'base.html' %}

{% block title %}
    Профиль {{user}}
{% endblock %}

{% block style %}
<style>
body{background: url(/static/blackbooks.jpg);
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;}

#main {
 background-color: #f2f2f2;
 padding: 20px;
-webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 -ms-border-radius: 4px;
 -o-border-radius: 4px;
 border-radius: 4px;
 border-bottom: 4px solid #ddd;}
</style>
{% endblock style %}


{% block body %}
<div style="height: 75px;"></div>
<div class="starter-template"></div>
<div class="container">
<div id="main">
 <div class="row" id="real-estates-detail">
 <div class="col-lg-4 col-md-4 col-xs-12">
 <div class="panel panel-default">
 <div class="panel-heading">
 <header class="panel-title">
 <div class="text-center">
 <h1>{{user}}</h1>
 </div>
 </header>
 </div>
 <div class="panel-body">
 <div class="text-center" id="author">
 <img src="../../{{object.photo}}" style="height: 150px;">
 <h3>{{user.first_name}} {{user.last_name}}</h3>
 <p>{{object.quote}}</p>
 <p class="sosmed-author">
 <a href="#"><i class="fab fa-facebook-square"></i></a>
 <a href="#"><i class="fab fa-twitter-square"></i></a>
 <a href="#"><i class="fab fa-vk"></i></a>
 <a href="#"><i class="fab fa-linkedin"></i></a>
 </p>
 </div>
 </div>
 </div>
 </div>
 <div class="col-lg-8 col-md-8 col-xs-12">
 <div class="panel">
 <div class="panel-body">
 <h4>Ваш профиль</h4>
 <table class="table table-th-block">
 <tbody>
 <tr><td class="active">Зарегистрирован:</td><td>{{user.date_joined}}</td></tr>
 <tr><td class="active">Последняя активность:</td><td>{{user.last_login}}</td></tr>
 <tr><td class="active">Адрес:</td><td>{{object.location}}</td></tr>
 <tr><td class="active">Пол:</td><td>{{object.sex}}</td></tr>
 <tr><td class="active">Дата рождения:</td><td>{{object.birth_date}}</td></tr>
 <tr><td class="active">Телефон:</td><td>{{object.phone}}</td></tr>
 <tr><td class="active">Любимые авторы:</td><td>{% for author in object.prefer_author.all %}<a href="/author/{{author.pk}}/">{{ author.name }} {{ author.surname }}<br></a>{% endfor %}</td>
 <tr><td class="active">Любимые жанры:</td><td>{% for genre in object.prefer_genre.all %}<a href="/genre/{{genre.pk}}/">{{ genre.name }}<br></a>{% endfor %}</td>
 <tr><td class="active">Биография:</td><td>{{object.biography}}</td></tr>
 </tr>
</tbody>
 </table>
 </div>
 </div>
 </div>
 </div>
   <div style="height: 50px;"></div>
   <div><h1>Вы действительно хотите удалить все данные профиля?</h1>
<form action="" method="POST">
    {% csrf_token %}
    <p align="center">
    <button type="submit" value="Confirm" class="btn btn-danger btn-lg">ДА</button>
    </p>
</form></div>
</div><!-- /.main -->
</div><!-- /.container -->
{% endblock body %}