{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
    Добавить в корзину
{% endblock title %}


{% block body %}
<div class="starter-template"><h1>Добавить в корзину</h1></div>
<div style="height: 50px;"></div>

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h3>Хотите добавить в корзину книгу
        <a href="/book/{{object.book.pk}}/">"{{object.book.name}}"</a>
        {% for author in object.book.author.all %}
            <a href="/author/{{author.pk}}/">
              {{ author.name }}
              {{ author.surname }}
            </a>{% endfor %}</h3>
    <table>
        {{ form|crispy }}
    </table>
    <h3>Доступно: {{object.book.available_PCs}} шт.</h3>

<div style="height: 50px;"></div>
<div style="height: 150px;">
    <button type="submit" class="btn btn-success btn-lg active">Сохранить</button>
    <a href="/book/list/" class="btn btn-primary btn-lg active" role="button" type="submit" aria-pressed="true">
        Вернуться к списку</a>
</form>
</div>

{% endblock body %}