{% extends 'base.html' %}
{% load custom_tags %}

{% block title %}
    Детали заказа
{% endblock title %}


{% block body %}
<div class="starter-template"><h1>Детали заказа</h1></div>
<h5>Уважаемый {{user}}, Вы планируете заказать книгу "{{object.book.name}}" в количестве {{object.quantity}} экз.</br>
    Общая цена, с учетом стоимости 1 экземпляра равной {{object.book.price}} BYN, составит {{object.price}} BYN = {{object.book.price}} BYN x {{object.quantity}} экз.
</h5>
<div style="padding: 25px 15px;">
    <p align="middle">
        <a href="/card" class="btn btn-primary btn-lg active"
           role="button" type="submit" aria-pressed="true">Просмотреть корзину</a>
    </p>
</div>
    <table class="table">
    <tr>
        <th>Индекс</th>
        <td>{{object.book.pk}}</td>
        <td rowspan="19" style = "border: 0px; padding: 0px 0px 0px 100px;">
            {% if object.book.photo != "" %}
            <img src="../../{{object.book.photo}}" height="600" widht="300">
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Название</th>
        <td>{{object.book.name}}</td>
    </tr>
    <tr>
        <th>Цена</th>
        <td>{{object.book.price}} BYN</td>
    </tr>
    <tr>
        <th>Автор(ы)</th>
        <td>
            {% for author in object.book.author.all %}
            <a href="/author/{{author.pk}}/">
                {{ author.name }}
                {{ author.surname }}<br>
            </a>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>Серия</th>
        <td>
            <a href="/series/{{object.series.pk}}/">
                {{ object.book.series.name }}
            </a>
        </td>
    </tr>
    <tr>
        <th>Жанр(ы)</th>
        <td>
            {% for genre in object.book.genre.all %}
            <a href="/genre/{{genre.pk}}/">
                {{ genre.name }}<br>
            </a>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>Год первоиздания</th>
        <td>{{object.book.year}}</td>
    </tr>
    <tr>
        <th>Кол-во страниц</th>
        <td>{{object.book.pages}}</td>
    </tr>
    <tr>
        <th>Тип обложки</th>
        <td>{{object.book.cover}}</td>
    </tr>
    <tr>
        <th>Формат издания</th>
        <td>{{object.book.form}}</td>
    </tr>
    <tr>
        <th>ISBN</th>
        <td>{{object.book.ISBN}}</td>
    </tr>
    <tr>
        <th>Вес</th>
        <td>{{object.book.weight}} г</td>
    </tr>
    <tr>
        <th>Возрастное ограничение</th>
        <td>{{object.book.age_limit}}+</td>
    </tr>
    <tr>
        <th>Издатель</th>
        <td>
            <a href="/publisher/{{object.book.publisher.pk}}/">
                {{object.book.publisher.name}}
            </a>
        </td>
    </tr>
    <tr>
        <th>Доступный остаток</th>
        <td>{{object.book.available_PCs}}, шт.</td>
    </tr>
    <tr>
        <th>Наличие</th>
        <td>{{object.book.available_bool}}</td>
    </tr>
    <tr>
        <th>Рейтинг</th>
        <td>{{object.book.rank}}/10</td>
    </tr>
</table>

<div style="padding: 40px 15px;">
    <p align="middle">
        <a href="/card" class="btn btn-primary btn-lg active"
           role="button" type="submit" aria-pressed="true">Просмотреть корзину</a>
    </p>
</div>
{% endblock body%}