{% extends 'base.html' %}
{% load custom_tags %}


{% block title %}
    {{title}}
{% endblock title %}


{% block body %}
<div class="starter-template"><h1>{{action}}</h1></div>

<table class="table">
  <thead class="thead-dark">
    <tr align="middle">
        <th scope="col">Наименование книги</th>
        <th scope="col">Количество экземпляров</th>
        <th scope="col">Цена за заказ, BYN</th>
        <th scope="col">Дополнительная информация</th>
        <th scope="col">Редактирование</th>
        <th scope="col">Удаление</th>
    </tr>
  </thead>
    {% for book in card.books.all %}
    <tr align="middle">
        <td><a href="/book/{{book.book.pk}}/">{{book.book}}</a></td>
        <td>{{book.quantity}}</td>
        <td>{{book.price}}</td>
        <td><a href="/bookincard/{{book.pk}}/"><i class="fas fa-info"></i></a></td>
        <td><a href="bookincard/update/{{book.book.pk}}/"><i class="far fa-edit"></i></a></td>
        <td><a href="/bookincard/delete/{{book.pk}}/"><i class="far fa-trash-alt"></i></a></td>
    </tr>
    {% endfor %}
</table>
    <h3 class="alert alert-success" role="alert">Стоимость книг: {{card.total_price}} BYN</h3>
    <h3 class="alert alert-success" role="alert">Стоимость доставки: {{delivery_price}} BYN</h3>
    <div style="height: 75px;"></div>
    <p align="center">
        <a href="/book/list" class="btn btn-primary btn-lg active"
            role="button" type="submit" aria-pressed="true">Добавить книгу к заказу</a>
    </p>
    <p align="center">
        <a href="{% url 'card:order' card.pk %}" class="btn btn-success btn-lg active"
            role="button" type="submit" aria-pressed="true">Оформить заказ</a>
    </p>

{% if card.books.all %}
<div style="height: 100px;"></div>
<h3 class="alert alert-primary" role="alert">Посмотрите еще книги из жанра {{genre}}</h3>
<div class="album py-5 bg-light">
<div class="container">
  <div class="row">
    {% for book in genre.book.all %}
    <div class="col-md-3">
      <div class="card mb-3 box-shadow">
        <div style="height: 155px;"><a href="/book/{{book.pk}}/">
          <img src="{{ book.photo.url }}" class="rounded mx-auto d-block" style="height: 155px; width: auto; align: center;" alt="Photo_cover"></a></div>
        <div class="card-body">
            <p class="card-text" style="text-align: center; height: 30px; vertical-align: middle"><a href="/book/{{book.pk}}/">{{book.name}}</a></p>
          <p class="card-text" style="text-align: center; height: 30px;">
            {% for author in book.author.all %}
            {% if user.is_authenticated %}<a href="/author/{{author.pk}}/">{% endif %}
              {{ author.name }}
              {{ author.surname }}
            </a>
            {% endfor %}
          </p>
          <p class="card-text" style="text-align: center; height: 30px; vertical-align: middle">{{book.price}} BYN</p>
          <div align="left">
              {% if user.is_authenticated %}<a href="/book/{{book.pk}}/"><i class="fas fa-info fa-1x" style="width: 75px;"></i></a>{% endif %}
              {% if book.available_bool == True and book.available_PCs > 0 %}<a href="{% url 'card:add' book.pk %}" type=""><i class="fas fa-cart-arrow-down fa-2x" style="width: 75px;"></i></a>
              {% else %}<i class="fas fa-ban fa-2x" style="width: 75px; color: gray;"></i>{% endif %}
              {% if perms.books.change_book %}<a href="/book/update/{{book.pk}}/"><i class="far fa-edit fa-1x"></i></a>{% endif %}
              {% if perms.books.delete_book %}<a href="/book/delete/{{book.pk}}/"><i class="far fa-trash-alt fa-1x"></i></a>{% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</div>
{% endif %}

{% if card.books.all %}
<div style="height: 100px;"></div>
<h3 class="alert alert-primary" role="alert">Посмотрите еще книги автора {{author.name}} {{author.surname}}</h3>
<div class="album py-5 bg-light">
<div class="container">
  <div class="row">
    {% for book in author.book.all %}
    <div class="col-md-3">
      <div class="card mb-3 box-shadow">
        <div style="height: 155px;"><a href="/book/{{book.pk}}/">
          <img src="{{ book.photo.url }}" class="rounded mx-auto d-block" style="height: 155px; width: auto; align: center;" alt="Photo_cover"></a></div>
        <div class="card-body">
            <p class="card-text" style="text-align: center; height: 30px; vertical-align: middle"><a href="/book/{{book.pk}}/">{{book.name}}</a></p>
          <p class="card-text" style="text-align: center; height: 30px;">
            {% for author in book.author.all %}
            {% if user.is_authenticated %}<a href="/author/{{author.pk}}/">{% endif %}
              {{ author.name }}
              {{ author.surname }}
            </a>
            {% endfor %}
          </p>
          <p class="card-text" style="text-align: center; height: 30px; vertical-align: middle">{{book.price}} BYN</p>
          <div align="left">
              {% if user.is_authenticated %}<a href="/book/{{book.pk}}/"><i class="fas fa-info fa-1x" style="width: 75px;"></i></a>{% endif %}
              {% if book.available_bool == True and book.available_PCs > 0 %}<a href="{% url 'card:add' book.pk %}" type=""><i class="fas fa-cart-arrow-down fa-2x" style="width: 75px;"></i></a>
              {% else %}<i class="fas fa-ban fa-2x" style="width: 75px; color: gray;"></i>{% endif %}
              {% if perms.books.change_book %}<a href="/book/update/{{book.pk}}/"><i class="far fa-edit fa-1x"></i></a>{% endif %}
              {% if perms.books.delete_book %}<a href="/book/delete/{{book.pk}}/"><i class="far fa-trash-alt fa-1x"></i></a>{% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</div>
{% endif %}
{% endblock body %}