{% extends 'base.html' %}

{% block title %}
    {{title}}
{% endblock title %}


{% block body %}
<div class="album py-5 bg-light">
<div class="container">
  <div class="row">
    {% for book in object.books.all %}
    <div class="col-md-3">
      <div class="card mb-3 box-shadow">
        <div style="height: 155px;">
            <a href="/book/{{book.book.pk}}/">
            <img src="{{ book.book.photo.url }}" class="rounded mx-auto d-block" style="height: 155px; width: auto; align: center;" alt="Photo_cover">
            </a></div>
          <div class="card-body">
              <p class="card-text" style="text-align: center; height: 30px; vertical-align: middle"><a href="/book/{{book.book.pk}}/">{{book.book.name}}</a></p>
          <p class="card-text" style="text-align: center; height: 30px;">
            {% for author in book.book.author.all %}
            {% if user.is_authenticated %}<a href="/author/{{author.pk}}/">{% endif %}
              {{ author.name }}
              {{ author.surname }}
            </a>
            {% endfor %}
          </p>
          <p class="card-text" style="text-align: center; height: 30px; vertical-align: middle">{{book.price_for_one}} BYN за 1 экземпляр</p>
          <p class="card-text" style="text-align: center; height: 30px; vertical-align: middle">{{book.quantity}} экземпляр(ов) общей стоимостью {{book.price}} BYN</p>
        </div>
      </div>
    </div>
    {% endfor %}
     </div>
</div>
</div>
    <h3>Total price: {{object.total_price}} BYN</h3>
    <h3>Delivery price: {{object.order.delivery_price}} BYN</h3>
<div style="padding: 40px 15px;">
    <p align="middle">
        <a href="/order/list/" class="btn btn-primary btn-lg active"
           role="button" type="submit" aria-pressed="true">Вернуться к списку</a>
    </p>
</div>
{% endblock body %}