{% extends 'base.html' %}

{% block title %}
    {{title}}
{% endblock title %}


{% block body %}
<div class="starter-template"><h1>{{action}}</h1></div>

<table class="table">
  <thead class="thead-dark">
    <tr align="middle">
        <th scope="col" style="width: 600px;">Наименование книги и количество экземпляров</th>
        <th scope="col">Стоимость заказа, BYN</th>
        <th scope="col">Стоимость доставки, BYN</th>
        <th scope="col">Адрес доставки</th>
        <th scope="col" style="width: 200px;">Статус</th>
        <th scope="col">Дата оформления заказа</th>
        <th scope="col">Дата последнего изменения</th>
        <th scope="col">Дополнительная информация</th>
    </tr>
  </thead>
    {% for obj in object_list %}
    <tr align="middle">
        <td><a href="/card/{{obj.card.pk}}/">
            {% for book in obj.card.books.all %}
            {{book.book}} ({{book.quantity}} шт.)</br></br>
            {% endfor %}
        </a></td>
        <td>{{obj.price}}</td>
        <td>{{obj.delivery_price}}</td>
        <td>{{obj.delivery_address}}</td>
        <td>{{obj.status}}</td>
        <td>{{obj.created}}</td>
        <td>{{obj.updated}}</td>
        <td><a href="/card/{{obj.card.pk}}/"><i class="fas fa-info"></i></a></td>
    </tr>
    {% endfor %}
</table>
{% endblock body %}