{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
    {{title}}
{% endblock title %}


{% block body %}
<div class="starter-template"><h1>{{action}}</h1></div>
<div style="height: 50px;"></div>
<h3>Cтоимость заказа: {{ object.card.total_price }} BYN</h3>
<h3>Cтоимость доставки: {{ object.delivery_price }} BYN</h3>
<table class="table">
  <thead class="thead-dark">
    <tr align="middle">
        <th scope="col">Наименование книги</th>
        <th scope="col">Количество экземпляров</th>
        <th scope="col">Цена за заказ, BYN</th>
        <th scope="col">Дополнительная информация</th>
        <th scope="col">Редактирование</th>
        <th scope="col">Удаление</th>
    </tr>
  </thead>
    {% for book in object.card.books.all %}
    <tr align="middle">
        <td><a href="/book/{{book.book.pk}}/">{{book.book}}</a></td>
        <td>{{book.quantity}}</td>
        <td>{{book.price}}</td>
        <td><a href="/bookincard/{{book.pk}}/"><i class="fas fa-info"></i></a></td>
        <td><a href="/card/update/{{book.book.pk}}/"><i class="far fa-edit"></i></a></td>
        <td><a href="/bookincard/delete/{{book.pk}}/"><i class="far fa-trash-alt"></i></a></td>
    </tr>
    {% endfor %}
</table>
<div style="height: 50px;"></div>
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{form|crispy}}
    </table>
<div style="height: 50px;"></div>
<div style="height: 150px;">
    <button type="submit" class="btn btn-success btn-lg active">Сохранить</button>
    <a href="{% url 'card:list' %}" class="btn btn-primary btn-lg active" role="button" type="submit" aria-pressed="true">
        Вернуться к корзине</a>
</div>
</form>
{% endblock body %}