{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

  <!-- main link --><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
  <!-- own style --><link href="{% static 'starter-template.css' %}" rel="stylesheet">

    <title>{% block title %}{% endblock title %}</title>
    <!-- Custom styles for this template -->
    <!--    <link href="{% static 'starter-template.css' %}" rel="stylesheet">-->
    <style>
    body {background-image: url('{% static '403.jpg' %}');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;}
    main {background: rgba(255,255,255,0.8);}

    </style>
  </head>

  <body>
<div style="height: 200px"></div>
<main role="main" class="container">
<div style="height: 75px;">
    <h2>Ошибка 404</h2>
    <h5>Извините, запрашиваемой страницы не существует. Пожалуйста, обратитесь к администратору или вернитесь к просмотру книг.</h5>
</div>
<div style="height: 75px;">
        <a href="/book/list/" class="btn btn-primary btn-lg active" role="button" type="submit" aria-pressed="true">
        Перейти к списку книг</a>
</div>

</main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>