{% extends 'mainCRUD/detail.html' %}

{% block content %}
<table class="table">
<tr>
    <th>пп.</th>
    <th>Имя</th>
    <th>Фамилия</th>
    <th>Дата рождения</th>
    <th>Дата смерти</th>
    <th>Национальность</th>
</tr>
<tr>
    <td>{{object.pk}}</td>
    <td>{{object.name}}</td>
    <td>{{object.surname}}</td>
    <td>{{object.year_birth}}</td>
    <td>{% if object.year_death != None %} {{object.year_death}} {% endif %}</td>
    <td>{{object.nationality}}</td>
</tr>
<tr>
    <td colspan="6"><b>Дополнительная информация:</b> {{object.biography}}</td>
</tr>
</table>

{% include 'mainCRUD/book_list.html' %}

{% endblock content%}