{% extends 'mainCRUD/list.html' %}

{% block th %}
        <th>пп.</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Дата рождения</th>
        <th>Дата смерти</th>
        <th>Национальность</th>
{% endblock th %}

{% block td %}
        <td>{{obj.pk}}</td>
        <td><a href="/author/{{obj.pk}}/">{{obj.name}}</a></td>
        <td><a href="/author/{{obj.pk}}/">{{obj.surname}}</a></td>
        <td>{{obj.year_birth}}</td>
        <td>{% if obj.year_death != None %} {{obj.year_death}} {% endif %}</td>
        <td align="middle">{{obj.nationality}}</td>
{% endblock td %}