<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TAGS</title>
<!--    simple vue-->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
<!--    axios for vue-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<!--    vuetify css-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <script src="http://unpkg.com/vue-select@2.0.0"></script>

<!--    material design-->
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
</head>

<body>

<v-app id="app">
<template>
<v-row>
 <v-col cols="4">
  <v-card
    class="mx-auto"
    max-width="400"
    tile>
      <v-list-item three-line>
          <v-list-item-content>
              <v-text-field v-model="TagName" label="Наименование нового тэга"></v-text-field>
              <v-select v-model="ContentType" :items="contenttypes" label="Связанная модель" item-value="pk" item-text="model"></v-select>
              <v-select v-if="ContentType === 11" v-model="ObjectId" :items="books" label="Связанный объект" item-value="pk" item-text="name"></v-select>
              <v-select v-if="ContentType === 10" v-model="ObjectId" :items="series" label="Связанный объект" item-value="pk" item-text="name"></v-select>
              <v-select v-if="ContentType === 9" v-model="ObjectId" :items="publishers" label="Связанный объект" item-value="pk" item-text="name"></v-select>
              <v-select v-if="ContentType === 8" v-model="ObjectId" :items="genres" label="Связанный объект" item-value="pk" item-text="name"></v-select>
              <v-select v-if="ContentType === 7" v-model="ObjectId" :items="authors" label="Связанный объект" item-value="pk" item-text="surname"></v-select>
          </v-list-item-content>
      </v-list-item>
      <v-card-actions><v-btn color="success" @click="AddNew">add</v-btn></v-card-actions>
  </v-card>
 </v-col>
 <v-col cols="8">
     <template>
      <v-card>
        <v-card-title>
          Пользовательские тэги
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>
        <v-data-table
          :headers="headers"
          :items="tags"
          :search="search"
        >
            <template v-slot:item.action="{ item }">
                   <v-icon small @click="deleteTag(item.pk)">
                    mdi-delete
                  </v-icon>
            </template>
        </v-data-table>
      </v-card>
    </template>
 </v-col>
</v-row>
</template>
</v-app>

<!--    vuetify js-->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>


<script>
      new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data: {
          dense: true,
          fixedHeader: true,
          height: 600,
          search: '',

          tags: [],
          headers: [
                  {
                    text: 'Наименование тэга',
                    align: 'left',
                    sortable: true,
                    value: 'tag',
                  },
                  { text: 'Связанная модель', value: 'content_type_obj.model' },
                  { text: 'Тэгированный объект', value: 'content_object' },
                  { text: 'Удаление объекта', value: 'action' },
          ],
          authors: [],
          genres: [],
          series: [],
          publishers: [],
          books: [],
          TagName: null,
          contenttypes: [],
          ContentType: 7,
          ObjectId: 1
      },
      methods: {
        AddNew() {
            axios
              .post('http://127.0.0.1:8000/tag/', {
                    tag: this.TagName,
                    content_type: this.ContentType,
                    object_id: this.ObjectId
              })
              .then(
                    resp => {
                        console.log(resp)
                        this.tags.push(resp.data)
                        this.TagName = ""
                        this.ContentType = 7
                        this.ObjectId = 1
              })
        },
        deleteTag(pk) {
             axios
                .delete('http://127.0.0.1:8000/tag/' + pk)
                .then(
                    resp => {
                        index = this.tags.findIndex((el) => {return el.pk === pk})
                        console.log(index)
                        this.tags.splice(index, 1)
                })
        }
      },
      mounted() {
        axios
          .get('http://127.0.0.1:8000/tag/')
          .then(resp => {this.tags = resp.data;})
        axios
          .get('http://127.0.0.1:8000/authors/')
          .then(resp => {this.authors = resp.data;})
        axios
          .get('http://127.0.0.1:8000/genres/')
          .then(resp => {this.genres = resp.data;})
        axios
          .get('http://127.0.0.1:8000/serieses/')
          .then(resp => {this.series = resp.data;})
        axios
          .get('http://127.0.0.1:8000/publishers/')
          .then(resp => {this.publishers = resp.data;})
        axios
          .get('http://127.0.0.1:8000/contenttype/')
          .then(resp => {this.contenttypes = resp.data;})
        axios
          .get('http://127.0.0.1:8000/books/')
          .then(resp => {this.books = resp.data;})
      },
    })

</script>
</body>