{% extends 'base.html' %}


{% block title %}
    {{title}}
{% endblock title %}


{% block body %}
<div class="starter-template"><h1>{{action}}</h1></div>

<table class="table">
  <thead class="thead-dark">
    <tr align="middle">
        <th scope="col" style="text-align: left">Поиск по разделу</th>
        <th scope="col" style="text-align: left">Наименование</th>
    </tr>
    </thead>

    {% for obj in object_list %}
    <tr align="middle">
        <td style="text-align: left"><b>{{obj.0}} </b></td>
        <td style="text-align: left"><a href="{{obj.2}}">{{obj.1}}</a></td>
    {% endfor %}
    </tr>
</table>

{% endblock body %}