{% extends 'mainCRUD/detail.html' %}

{% block content %}
<table class="table">
    <tr>
        <th>Индекс</th>
        <td>{{object.pk}}</td>
    </tr>
    <tr>
        <th>Название</th>
        <td>{{object.name}}</td>
    </tr>
</table>

{% include 'mainCRUD/book_list.html' %}

{% endblock content %}