<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Genre</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="GenreName"></br>
        <button type="button" @click="AddNew">add</button></br>
        <table border="1">
            <tr>
                <th>#</th>
                <th>Жанр</th>
                <th>Delete</th>
            </tr>
            <tr v-for="genre in genres">
                <td>{{ genre.pk }}</td>
                <td>{{ genre.name }}</td>
                <td><button type="button" @click="deleteGenre(genre.pk)">Delete</button></td>
            </tr>
        </table>
    </div>
<script>

    new Vue({
      el: '#app',
      data: {
          genres: [],
          GenreName: null
      },
      methods: {
        AddNew() {
            axios
              .post('http://127.0.0.1:8000/genres/', {
                    name: this.GenreName
              })
              .then(
                    resp => {
                        console.log(resp)
                        this.genres.push(resp.data)
                        this.GenreName = ""
              })
        },
        deleteGenre(pk) {
             axios
                .delete('http://127.0.0.1:8000/genres/' + pk)
                .then(
                    resp => {
                        index = this.genres.findIndex((el) => {return el.pk === pk})
                        console.log(index)
                        this.genres.splice(index, 1)
                })
        }
      },
      mounted() {
        axios
          .get('http://127.0.0.1:8000/genres/')
          .then(resp => {this.genres = resp.data;})
      },
    })

</script>

</body>
</html>